GEMINI_API_KEY=
VITE_SUPABASE_URL=https://kydlbpiyfwqrakxomsrx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5ZGxicGl5ZndxcmFreG9tc3J4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzMjAzMTQsImV4cCI6MjEwNTg5NjMxNH0.I9xT02ipV-3TIEOnDeoW1dehXZ3v4zEJI1-HY0WTbhc
